<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>!TITLE!</title>
    <style>
    .page { 
        max-width:900px; 
        background-color:#FAFAFA;
        padding:0.5em;
    }
    body {
        font-size:16pt; 
        font-family: georgia,"times new roman",times,serif;
        color:#333;
        line-height: 23px;
        margin-left:2em;
    }
    h1 { font-size:20pt; }
    a { color:#cb5c70; }
    ul li { margin-left:1em; }
    img { max-width:900px;margin:auto; }
    </style>
</head>
<body>
<div class="page">
<h1>!TITLE!</h1>
!CONTENT!

<p>!DATE!</p>
<a href="index.html">articles</a>
</div>
</body>
</html>
